<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taxisinleightonbuzzard.dnrtaxisplus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>D&amp;R Taxis Plus</name>
	<description>
		Taxis in Leighton Buzzard. With the app you can access the full functionality of the website, including getting a price quote for your journey and booking online securely when connected to the internet. 
	</description>

	<author email="dnrtaxisplus@gmail.com" href="https://taxisinleightonbuzzard.com">
	   D&amp;R Taxis Plus app designed by Bigwheel Web Design. Contact D&amp;R Taxis Plus for help.
	</author>
	  <preference name="phonegap-version" value="cli-8.0.0" />
	      <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="ldpi.png" density="ldpi" />
        <icon src="mdpi.png" density="mdpi" />
        <icon src="hdpi.png" density="hdpi" />
        <icon src="xhdpi.png" density="xhdpi" />
        <icon src="xxhdpi.png" density="xxhdpi" />
        <icon src="xxxhdpi.png" density="xxxhdpi" />
    </platform>
	    <platform name="windows">
        <icon src="ldpi.png" target="Square30x30Logo" />
        <icon src="mdpi.png" target="Square44x44Logo" />
        <icon src="hdpi.png" target="Square70x70Logo" />
        <icon src="hdpi.png" target="Square71x71Logo" />
        <icon src="Square150x150Logo.png" target="Square150x150Logo" />
        <icon src="Square310x310Logo.png" target="Square310x310Logo" />
        <icon src="Wide310x150Logo.png" target="Wide310x150Logo" />
    </platform>
</widget>
